body {
  font-family: "Arial";
  font-size: 14px;
  margin: 0;
  overflow-x: hidden;
}
header {
  background-color: #171717;
  overflow: hidden;
  padding: 15px;
}
header h1 {
  margin: 0;
  color: #D9D9D9;
  float: left;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 60px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 26px;
}
a {
  text-decoration: none;
  color: #000000;
}
header a {
  color: #D9D9D9;
  display: block;
  padding: 10px;
}
header a:hover {
  background-color: #D9D9D9;
  color: #171717;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header ul li {
  display: inline-block;
}
header nav {
  float: right;
}
img {
  display: block;
  width: 100%;
}
#noticias-destacadas {
  width: calc(100vw * 3);
  overflow: hidden;
  background-color: #171717;
  position: relative;
  animation: 15s slider infinite;
}
#noticias-destacadas figure {
  width: 100vw;
  float: left;
}
#noticias-destacadas h2 {
  font-size: 42px;
  font-weight: 600;
  background-color: #171717;
  padding: 15px;
  color: #FFF;
}

/* Animaciones CSS */
@keyframes slider {

  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  40% {
    left: -100vw;
  }
  60% {
    left: -100vw;
  }
  80% {
    left: -200vw;
  }
  100% {
    left: -200vw;
  }

}