/* Comentario: Anatomia de una Regla CSS; */
/*
selector {
	propiedad : valor;
	propiedad : valor;
	propiedad : valor;
}
*/
* {
	outline: dotted 1px red;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
}
img {
	display: block;
	width: 100%;
}
a {
	color: #333;
	text-decoration: none;
}
header {
	background-color: #333;
	color: #FFF;
	padding: 15px;
	overflow: hidden;
}
header a {
	color: #FFF;
	display: block;
	padding: 5px;
	text-align: center;
}
header a:hover {
	color: #AAA
}
header h1 {
	float: left;
	font-size: 28px;
	font-weight: 700;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	padding-left: 70px;
}
header nav {
	float: right;
}
header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
header ul li {
	display: inline-block;
}
#noticias-destacadas img { /* <-- refiere a un elemento con id="noticias-destacadas" */
	width: 100%;
	display: block;
}
#noticias-destacadas figure {
	margin: 0;
}
#noticias-destacadas h2 {
	background-color: #333;
	color: #FFF;
	font-size: 32px;
	font-weight: 700;
	padding: 20px;
}
.noticia-img {
	width: 35%;
}
.noticia-txt {
	width: 65%;
}