h1 {
	color: orange;
	font-size: 23px;
	text-decoration: underline;
	font-family: Arial;
}
a {
	color: white;
	background-color: grey;
	text-decoration: none;
	font-family: Arial;
}
a:hover {
	background-color: black;
}