/* Estilos Generales */
* {
	outline: dotted 1px red;
}

body {
	font-family: Helvetica, Arial, Open Sans, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
}
a {
	text-decoration: none;
	color: #FFF;
}
/* Estilos Particulares */
header {
	background-color: #333;
	overflow: hidden;
	padding: 15px;
}
header h1 {
	color: #FFF;
	float: left;
	font-weight: 700;
	font-size: 28px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	padding-left: 75px;
	line-height: 1.5;
	background-position: left center;
}
header nav {
	float: right;
	padding: 10px;
}
header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
header nav ul li {
	display: inline-block;
}
header nav a {
	text-align: center;
	padding: 5px;
}
header nav a:hover {
	color: #333;
	background-color: #FFF;
}
#noticias-destacadas img {
	width: 100%;
	display: block;
}
#noticias-destacadas figcaption {
	background-color: #333;
	padding: 15px;
}
#noticias-destacadas h2 {
	color: #FFF;
	font-size: 36px;
	font-weight: 700;
}

.noticia-img {
	width: 30%;
}
.noticia-img img {
	width: 100%;
}

.noticia-txt {
	width: 70%;
}
.noticia-txt h3 {
	font-weight: 700;
	font-size: 28px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.noticia-txt p {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.noticia-txt a {
	color: #000;
}
.noticia-txt a:hover {
	color: #D9D9D9;
}

