* {
	/*outline: dotted 1px red;*/
}
body {
	font-family: Arial;
	font-size: 14px;
	color: #222;
}
img {
	display: block;
	width: 100%;
}
header {
	background-color: #333;
	padding: 10px;
	overflow: hidden;
}
header h1 {
	color: #FFF;
	float: left;
	font-size: 24px;
	font-weight: 700;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
	padding-left: 60px;
	margin-top: 5px; 
}
nav {
	float: right;
}
nav ul {
	
}
nav li {
	display: inline-block;
}
nav li a {
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 10px;
}
nav li a:hover {
	color: #333;
	background-color: #FFF;
}
#noticias-destacadas img {
	width: 100%;
}
#noticias-destacadas h2 {
	background-color: #333;
	color: #FFF;
	font-weight: 700;
	padding: 20px;
	font-size: 48px;
}
.noticia {
	display: flex;
	flex-direction: row; /* row | column | row-reverse | column-reverse */
	align-items: center; /* flex-start | center | flex-end */
	justify-content: space-around; /* flex-start | center | flex-end | space-between |  */

	border-bottom: solid 1px #DDD;
	/*
	- Version extendida:
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 20px;
	margin-left: 20px;
	
	- Version simplificada (top/right/bottom/left)
	margin: 0 20px 0 20px;
	*/
	margin: 0 20px; /* <- Version reducida (y/x) */

	/* margin: 15px 20px 25px; <-- Version mixta (top/x/bottom) */

}
.noticia:last-child {
	border: none;
}

.noticia-img {
	width: 30%
}
.noticia-txt {
	width: 65%;
}
.noticia-txt h3 {
	font-size: 32px;
	font-weight: 700;
}
.noticia-txt p {
	font-size: 20px;
}
.noticia-txt p:nth-of-type(1) {
	font-weight: 700;
}
.noticia-txt h3,
.noticia-txt p {
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 15px;
}
footer {
	background-color: #333;
	padding: 10px;
	text-align: center;
	color: #FFF;
	font-size: 12px;
	margin-top: 10px;
}