body {
	font-family: Arial;
	font-size: 14px;
	color: #222;
}
header {
	background-color: #333;
	padding: 10px;
	overflow: hidden;
}
header h1 {
	color: #FFF;
	float: left;
	font-size: 24px;
	font-weight: 700;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
	padding-left: 60px;
	margin-top: 5px; 
}
nav {
	float: right;
}
nav ul {
	
}
nav li {
	display: inline-block;
}
nav li a {
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 10px;
}
nav li a:hover {
	color: #333;
	background-color: #FFF;
}