body {
	font-family: Arial;
	color: #333333;
	margin: 0;
	font-size: 20px;	
}
h1 {
	font-size: 24px;
	margin: 0;
}
a {
	text-decoration: none;
	color: #CCCCCC;
}
a:hover {
	color: #FFFFFF;
}
header {
	background-color: #212121;
}