/* Estilos Generales */
* {
	outline: dotted 1px red;
}

body {
	font-family: Helvetica, Arial, Open Sans, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
}
a {
	text-decoration: none;
	color: #FFF;
}
/* Estilos Particulares */
header {
	background-color: #333;
	overflow: hidden;
	padding: 15px;
}
header h1 {
	color: #FFF;
	margin: 0;
	float: left;
}
header nav {
	float: right;
	padding: 10px;
}
header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
header nav ul li {
	display: inline-block;
}
header nav a {
	text-align: center;
	padding: 5px;
}
header nav a:hover {
	color: #333;
	background-color: #FFF;
}







