* {
	outline: dotted 1px red;
}
body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #171717;
	margin: 0;
	overflow-x: hidden;
}
header {
	background-color: #171717;
	overflow: hidden;
	padding: 20px;
}
header h1 {
	margin: 0;
	color: #D9D9D9;
	float: left;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	padding-left: 75px;
}
header a {
	color: #D9D9D9;
}
a {
	text-decoration: none;
	color: #000000;
}
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	display: block;
	padding: 5px;
}
nav ul li a:hover {
	background-color: #D9D9D9;
	color: #171717;
}
img {
	display: block;
	width: 100%;
}
#noticias-destacadas {
	width: calc(100vw * 3);
	background-color: #171717;
	overflow: hidden;
	position: relative;
	animation: 0s slider infinite;
}
#noticias-destacadas figure {
	width: 100vw;
	float: left;
}
#noticias-destacadas figcaption {
	background-color: #171717;
	padding: 20px;
}
#noticias-destacadas h2 {
	color: #D9D9D9;
	font-size: 42px;
	font-weight: 700;
}
.noticia {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly; /* flex-start | center | flex-end | space-between | space-around | space-evenly */
	align-items: center; /* flex-start | center | flex-end | stretch */

	border-bottom: solid 1px #CCC;
	margin: 10px;
	padding: 10px;
}
.noticia:last-child {
	border: none;
}

.noticia-img {
	width: 30%;
}
.noticia-txt {
	width: 60%;
	background-color: orange;
}

#tabla-posiciones table {
	margin: auto;
	width: 60%;
}
#tabla-posiciones td,
#tabla-posiciones th {
	padding: 5px;
	vertical-align: middle;
}
#tabla-posiciones th {
	background-color: red;
	color: #FFF;
	font-weight: 600;
	font-size: 18px;
}
#tabla-posiciones td {
	background-color: #CCC;
}
#tabla-posiciones td:nth-of-type(odd) {
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
#tabla-posiciones td:nth-of-type(even) span {
	color: darkgreen;
	font-weight: 600;
}
#tabla-posiciones tr {
	border-bottom: solid 1px #171717;
}
#tabla-posiciones tr:last-child {
	border: none;
}
footer {
	background-color: #171717;
	color: #D9D9D9;
	text-align: center;
	padding: 15px;
	margin-top: 10px;
}

/* Animaciones CSS */
@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	40% {
		left: -100vw;
	}
	60% {
		left: -100vw;
	}
	80% {
		left: -200vw;
	}
	100% {
		left: -200vw;
	}
}