body {
	font-family: "Arial";
	font-size: 14px;
	color: #171717;
	margin: 0;
	overflow-x: hidden;
}
header {
	background-color: #171717;
	overflow: hidden;
	padding: 20px;
}
header h1 {
	margin: 0;
	color: #D9D9D9;
	float: left;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	padding-left: 75px;
}
header a {
	color: #D9D9D9;
}
a {
	text-decoration: none;
	color: #000000;
}
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	display: block;
	padding: 5px;
}
nav ul li a:hover {
	background-color: #D9D9D9;
	color: #171717;
}
img {
	display: block;
	width: 100%;
}
#noticias-destacadas {
	width: calc(100vw * 3);
	background-color: #171717;
	overflow: hidden;
	position: relative;
	animation: 15s slider infinite;
}
#noticias-destacadas figure {
	width: 100vw;
	float: left;
}
#noticias-destacadas figcaption {
	background-color: #171717;
	padding: 20px;
}
#noticias-destacadas h2 {
	color: #D9D9D9;
	font-size: 42px;
	font-weight: 700;
}


/* Animaciones CSS */
@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	40% {
		left: -100vw;
	}
	60% {
		left: -100vw;
	}
	80% {
		left: -200vw;
	}
	100% {
		left: -200vw;
	}
}