:root {
	font-size: 62.5%;
}
* {
	outline: dotted 1px red;
}
body {
	font-family: "Helvetica", "Arial", "Open Sans", sans-serif;
	color: #333;
	margin: 0;
	/*background-image: url("https://st2.depositphotos.com/1785475/7603/v/950/depositphotos_76031891-stock-illustration-cube-light-pattern-background-vector.jpg");*/
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
header {
	background-color: #333;
	overflow: auto;
	padding: 1.5rem;
}
header h1, header a {
	color: #D9D9D9;
}
header h1 {
	font-size: 2.4rem;
	margin: 0;
	float: left;
	font-weight: bold;
	padding: .5rem;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 8rem;
}
header a {
	font-size: 1.6rem;
}
nav {
	float: right;
}
nav li {
	display: inline-block;
	margin: .5rem;
}
nav li a {
	display: block;
	padding: .5rem;
}

img {
	display: block;
	width: 100%;
}
#noticias-destacadas {
	width: 300vw;
	overflow: auto;
	
	position: relative;
	
	animation: 15s slider infinite;
	/*animation: 15s slider infinite alternate;*/ /* <-- Efecto bumerang */ 
	/*
	right: ???;
	top: ???;
	bottom: ???;
	*/
}
#noticias-destacadas figure {
	float: left;
	width: 100vw;
}
#noticias-destacadas h2 {
	background-color: #333;
	color: #FFF;
	font-size: 3.6rem;
	font-weight: bold;
	padding: 2rem;
}

@keyframes slider {
	/* INICIO ANIMACION */

	0% { left: 0 }
	20% { left: 0 }
	40% { left: -100vw }
	60% { left: -100vw }
	80% { left: -200vw }
	100% { left: -200vw }

	/* FIN DE ANIMACION */
}






