/* Anatomia de las reglas CSS */
/*
  selector {
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
  }
*/
body {
  font-family: Arial;
  font-size: 18px;
  color: #111;
  background-color: orange;
  text-align: justify;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma;
  color: orangered;
  text-decoration: underline;
  text-align: center;
}
h2 {
  font-size: 21px;
}
a {
  color: #000;
  background-color: #FFF;
  text-decoration: none;
  font-family: Helvetica, Arial, Open Sans, sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}
a:hover {
  color: orange;
  background-color: darkblue;
}
p {
  line-height: 1.5;
}
#foto-linus {
  display: block;
  margin: 0 auto 0 auto;
  border-top: solid 5px white;
  border-left: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 25px white;
}
